extends layout.pug 

block content
  if username 
    h1.hello-msg Welcome, #{username}
  else
    form(action='/trackName' method='get')
      label Please type in your name 
      input(type='text' name='name')
      button(type='submit') Submit